@import "tailwindcss";

*::selection {
  background: #e79dc5;
  color: #fff;
}

body {
  overflow: hidden;
}

#userCardCont::-webkit-scrollbar {
  display: none;
}

:root {
  /* Scrollbar size */
  --scrollbar-size: 6px;
  --scrollbar-radius: 999px;

  /* Track */
  --scrollbar-track: #0b0c10;

  /* Thumb (main accent colors) */
  --scrollbar-thumb: linear-gradient(180deg,
      #c9c9cd,
      #8f899a,
      #727c87);

  /* Effects */
  --scrollbar-shadow: 0 3px 8px rgba(0, 0, 0, 0.45);
}

/* Base */
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-radius);
  box-shadow: var(--scrollbar-shadow);
}