.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background: purple;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20px;
}

.title {
  color: darkblue;
  text-transform: uppercase;
}

.btn {
  background: darkblue;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  cursor: pointer;
}