/* Importing Poppins Font */

/* font-family: "Poppins", "Segoe UI", system-ui, sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #0b0c10;
  color: #fff;
  overflow-x: hidden;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid #fff;
  background: #222;
  border-radius: 10px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 5px 7px 15px rgb(255 255 255 / 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  background: rgb(93, 93, 93);
  color: #fff;
  border: none;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #141519;
  color: #fff;
}