@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #0b0c10;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/* Main container */
.container {
  padding: 20px;
}

/* Headings */
h1 {
  margin: 20px 0 10px;
  font-size: 1.8rem;
  font-weight: 600;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #4f46e5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #3730a3;
}

/* Inputs */
input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 250px;
  border: none;
  font-size: 1.1rem;
  border-radius: 6px;
  background-color: #e5e7eb;
}

/* Mouse move box */
.box {
  height: 150px;
  width: 300px;
  background-color: #e5e7eb;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Scroll section */
.scroll-container {
  height: 200px;
  overflow-y: scroll;
  border: 2px solid #ddd;
  margin-top: 10px;
}

.page {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.page1 {
  background-color: #bfdbfe;
}

.page2 {
  background-color: #bbf7d0;
}

:root {
  /* Scrollbar size */
  --scrollbar-size: 6px;
  --scrollbar-radius: 999px;

  /* Track */
  --scrollbar-track: #0b0c10;

  /* Thumb (main accent colors) */
  --scrollbar-thumb: linear-gradient(180deg,
      #c9c9cd,
      #8f899a,
      #727c87);

  /* Effects */
  --scrollbar-shadow: 0 3px 8px rgba(0, 0, 0, 0.45);
}

/* Base */
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-radius);
  box-shadow: var(--scrollbar-shadow);
}