@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #0b0c10;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

:root {
  /* Scrollbar size */
  --scrollbar-size: 6px;
  --scrollbar-radius: 999px;

  /* Track */
  --scrollbar-track: #0b0c10;

  /* Thumb (main accent colors) */
  --scrollbar-thumb: linear-gradient(180deg,
      #c9c9cd,
      #8f899a,
      #727c87);

  /* Effects */
  --scrollbar-shadow: 0 3px 8px rgba(0, 0, 0, 0.45);
}

/* Base */
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-radius);
  box-shadow: var(--scrollbar-shadow);
}